.actions-container {
    flex-grow: 1;
    width: 100%;

    display: flex;
    justify-content: center;
}

.actions {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 700px;
    background: #C7C7C7;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.actions__item {

}