@import "./button.css";
@import "./player.css";
@import "./cards.css";
@import "./table.css";
@import "./actions.css";

html, body, #root
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

