.table-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.table {

}

.table__circle {
    margin-top: 20px;
    flex-grow: 7;
    width: 95%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50% ;
    background: #007914;
    border: 6px solid #CFE420;
}
