<div class="ui segment">
<h3 class="ui header">
    Available Tables
    <div class="sub header">please choose a table to join</div>
</h3>

<table class="ui basic table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Bets</th>
            <th>Players</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {{#each this}}
    <tr>
        <td>{{this.name}}</td>
        <td>${{this.smallBlind}} / ${{this.bigBlind}}</td>
        <td>{{this.activePlayers}} of {{this.maxPlayers}}</td>
        <td><div class="ui tiny blue button join-table" data-game-id="{{this._id}}">
            join
        </div></td>
    </tr>
    {{/each}}

    </tbody>
</table>
</div>