<div class="poker-table">
    <div id="player1"></div>
    <div id="player2"></div>
    <div id="player3"></div>
    <div id="player4"></div>
    <div id="player5"></div>
    <div id="player6"></div>

    <div class="cards">
        <div class="cardstack" style="font-size: 12px;">
            <div id="card1"></div>
            <div id="card2"></div>
            <div id="card3"></div>
            <div id="card4"></div>
            <div id="card5"></div>
            <p></p></div>
    </div>
</div>