<div class="header">
    <div class="ui inverted menu">
        <a class="item leave">
            <i class="arrow left icon"></i> Leave table
        </a>
        <div class="right menu">
            <div class="item">
                <i class="user icon"></i> <span class="user-name"></span>
            </div>
        </div>
    </div>
</div>
<div class="main">

    <div class="poker-table">
        <div id="player1"></div>
        <div id="player2"></div>
        <div id="player3"></div>
        <div id="player4"></div>
        <div id="player5"></div>
        <div id="player6"></div>

        <div id="pot" class="pot odometer">pot: $56,980</div>

        <div class="cards">
            <div class="cardstack" style="font-size: 12px;">
                <div id="card1" style="display: none;"></div>
                <div id="card2" style="display: none;"></div>
                <div id="card3" style="display: none;"></div>
                <div id="card4" style="display: none;"></div>
                <div id="card5" style="display: none;"></div>
                <p></p></div>
        </div>
    </div>

    <div class="ui segment player-actions" style="display: none">
        <div class="ui center aligned three column divided grid">
            <div class="column">
                <div class="ui red button fold">Fold</div>
            </div>
            <div class="column">
                <div class="ui call label" style="display: none">1,000 to call </div>
                <div class="ui check button">Check</div>
            </div>
            <div class="column">
                <div class="ui raise action input">
                    <input type="text" placeholder="amount..." value="50,000">
                    <div class="ui teal button raise">Raise</div>
                </div>

            </div>
         </div>
    </div>

</div>
<audio id="check-sound" src="/sounds/check.ogg" preload="auto"></audio>
<audio id="user-turn-sound" src="/sounds/user_turn.ogg" preload="auto"></audio>
<audio id="chips-sound" src="/sounds/chip.ogg" preload="auto"></audio>
<audio id="shuffle-sound" src="/sounds/shuffle.ogg" preload="auto"></audio>
