<div class="header">
    <div class="ui inverted menu">
        <!--<a class="item leave">-->
            <!--<i class="arrow left icon"></i> Leave table-->
        <!--</a>-->
        <div class="item">
            <i class="user icon"></i> <span class="user-name"></span>
        </div>
        <div class="right menu">

            <a class="item log-out">
                 Log out  <i class="sign out icon"></i>
            </a>
        </div>
    </div>
</div>

<div class="ui segment">
<h3 class="ui header">
    Available Tables
    <div class="sub header">please choose a table to join</div>
</h3>

<table class="ui basic table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Bets</th>
            <th>Players</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {{#each this}}
    <tr>
        <td>{{this.name}}</td>
        <td>${{this.smallBlind}} / ${{this.bigBlind}}</td>
        <td>{{this.activePlayers}} of {{this.maxPlayers}}</td>
        <td><div class="ui tiny blue button join-table" data-game-id="{{this._id}}">
            join
        </div></td>
    </tr>
    {{/each}}

    </tbody>
</table>
</div>